.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #989898;
  margin: 0;
}

.text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #989898;
  margin: 0;
}
